body {
	background-color: lightblue;
  font-family: 'Bitter', serif;
}

div#page {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

div#redbanner {
  width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #CF1E1E;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
  color: white;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: -20px;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

th {
  padding-left: 10px;
}

td.percent {
  padding-left: 10px;
  text-align: center;
}

table {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgray;
	padding: 5px;
}

caption {
  padding-left: 5px;
}

section#howto {
	margin-top: 50px;
}

p.address {
	margin-bottom: -15px;
}

p.options {
	margin-bottom: -10px;
}

section#contact {
	margin-top: 60px;
	padding-bottom: 10px;
}

img {
	margin-left: 200px;
	width: 400px;
	height: 300px;
}
