body {
	background-color: lightblue;
}

div#page {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

th {
  padding-left: 50px;
}

td.percent {
  text-align: center;
}
